.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 24px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
}

#logout,
#profile {
  margin-top: 4%;
  background: none;
  font-size: 2em;
  cursor: pointer;
}

#logout {
  color: black;
  border: 0;

  margin-right: 10%;
}

#profile {
  color: black;
  border: 0;
  margin-right: 4%;
}

<<<<<<< Updated upstream
#logout:hover {
  color: #0d99ff;
}
#profile:hover {
  color: #0d99ff;
}
.main-knowledge-box {
  width: 82%;
  height: 30%;
=======
/* 메인 */
>>>>>>> Stashed changes


#main-text{
  color: white;
}

.main-one {
  width: 40%;
  height: 100%;
<<<<<<< Updated upstream

  margin-top: 5%;
  margin-left: 15%;
=======
}


.main {
  width: 100%;
  height: 60vh;
  background-color: rgb(30, 30, 30);

  display: flex;
}

.main-button {
  width: 45%;
  height: 20%;
  display: flex;
  align-items: center;

  margin-left: 10%;
}

.main-button__btn {
  width: 100%;
  height: 35%;
}

.main-button button {
  width: 25%;
  height: 100%;
  background-color: black;
  color: white;

  border: 0;
  border-radius: 20px;

  font-size:  var(--font-small);
  margin-left: 2%;
}

.main-button button:hover {
  background-color: var(--blue-color);
}


#question-list {
  width: 95%;
  height: 70%;
  background-color: white;
  border-radius: 10px;

  margin-left: 10%;
  margin-top: 1%;
>>>>>>> Stashed changes

  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< Updated upstream

  color: aliceblue;
  font-size: 3em;
}

#left-right-page {
  font-size: 2em;
=======
}

.question-Card {
  width: 93%;
  height: 90%;
  
}

.card-title {
  width: 100%;
  height: 25%;
}


.card-title input{
  width: 100%;
  height: 100%;
  
  border-radius: 12px;
  background-color: black;
  color: white;

  font-size: var(--font-small);
}

.card-text {
  width: 100%;
  height:70%;
}

.card-text input {
  width: 100%;
  height: 100%;

  border-radius: 15px;
  background-color: black;
  color: white;

  margin-top: 3%;

  font-size: var(--font-regular);
}


.main-two {
  width: 53.6%;
  height: 100%;
}

.jammin-one {
  opacity: 0;
  width: 52%;
  height: 100%;

  margin-left: 30%;
  margin-bottom: 10%;
  cursor: pointer;

  animation: fadeIn 3s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;

  z-index: 1;

}


@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
​

/* 댓글 리스트 */


.wrap {
  height: 25vh;
}

.form-write-comment {
  width: 76%;
  height: 100%;
  background-color: whitesmoke;
  box-shadow:5px 5px 10px rgb(170, 170, 170);
  border-radius: 15px;
  margin-left: 12%;
  
}

.form-write-title{
  text-align: center;
  
  font-size: 1.5em;
}

.write-comment__textbox {
  height: 15vh;

  margin-top: 5%;

  display: flex;
  align-items: center;
}

.write-comment__textbox img {
  margin-left: 1.5%;
}



.write-comment__textbox input {
  width:81%;
  height: 35%;
  display: inline-block;

  background-color: whitesmoke;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-color: #999999;
  outline: none ;
  margin-left: 2%;
}

.write-comment__btn {
  width: 4%;
  height: 40%;
  background-color: black;
  color: aliceblue;

  border: 0;
  border-radius: 0.5em;

  cursor: pointer;
  margin-left: 1%;
}

.write-comment__btn:hover {
  background-color: #0d99ff;
}






.form-write-nickname {
  display: none;
}

>>>>>>> Stashed changes

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}
#left-page,
#right-page {
  border: 0;
  background: none;
  cursor: pointer;
}
#left-page:hover {
  color: #0d99ff;
}
#right-page:hover {
  color: #0d99ff;
}

.form-write-comment {
  width: 82%;

  margin-left: 9%;
}

.form-write-comment .write-comment {
  font-size: 1.5em;
}

<<<<<<< Updated upstream
.form-write-nickname {
  margin-top: 2%;
  margin-bottom: 2%;
=======
.card.commentCard .card-body .btn-container {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}
>>>>>>> Stashed changes

  display: flex;
<<<<<<< Updated upstream
  align-items: center;
}

.write-comment__textbox {
  height: 15vh;
=======
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: end;
}

.card-body .comment_like_box .comment_like_innerbox {
  display: flex;
}
>>>>>>> Stashed changes

  margin-top: 2%;

  display: flex;
<<<<<<< Updated upstream
  align-items: center;
=======
  flex-direction: row;
  justify-content: end;

  margin-left: 30px;
>>>>>>> Stashed changes
}

.write-comment__textbox input {
  width: 88%;
  height: 80%;
  display: inline-block;
}

.write-comment__btn {
  width: 11%;
  height: 80%;
  background-color: black;
  color: aliceblue;

  border: 0;
  border-radius: 0.5em;

  font-size: 1.15em;
  cursor: pointer;
  margin-left: 1%;
}

<<<<<<< Updated upstream
.write-comment__btn:hover {
  background-color: #0d99ff;
}

.list-comment {
  width: 82%;

  margin-left: 9%;
  margin-top: 5%;
  margin-bottom: 2%;

  font-size: 1.5em;
}
=======
>>>>>>> Stashed changes

.mycards {
  width: 82%;
  margin: auto;
}

<<<<<<< Updated upstream
.mycards > .card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.newCmtInput {
  width: 88%;
}

.card-body {
  width: 100%;
  background-color: #e3e3e3;
  border-radius: 1em;
}

.blockquote {
  width: 94%;
  margin: auto;
  padding-top: 0.1%;
}

.updateBtns {
  display: flex;
  justify-content: end;
  gap: 1%;
}

.updateBtns button {
  width: 6%;
  height: 30px;

  background-color: black;
  color: white;

  border: 0;
  border-radius: 10%;
  cursor: pointer;

  margin-right: 1%;
  margin-bottom: 1%;
}

.newCmtInput {
  width: 90%;
}

.updateBtn {
  width: 7%;
  background-color: black;
  color: white;
  border: 0;
  border-radius: 0.2em;
  margin-left: 1%;
  cursor: pointer;
}
.updateBtn:hover {
  background-color: #0d99ff;
}

.editBtn:hover {
  background-color: #0d99ff;
}

.deleteBtn:hover {
  background-color: #0d99ff;
}

.noDisplay {
  display: none;
}

.cmtImg {
  border-radius: 50%;
  margin-right: 10px;
}
.quote-footer {
  color: #6c757d;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
=======
.noDisplay {
  display: none;
}
>>>>>>> Stashed changes
