header {
  width: 80vw;
  height: 400px;
  /* height: 300px; */
  margin: auto;
  display: flex;
  align-self: center;
  justify-content: center;
  position: relative;
}

header img {
  width: 300px;
}
#child_img_1 {
  opacity: 0;
  height: 350px;
  width: 450px;
  animation: fadeIn 2s linear;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  position: absolute;
  left: 10%;
  top: 19%;
  z-index: 4;
}
#child_img_1:hover {
  transform: scale(1.1);
}
#child_img_2 {
  opacity: 0;
  animation: fadeIn2 2s linear;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  position: absolute;
  left: 32%;
  top: -6%;
  z-index: 1;
}
#child_img_2:hover {
  transform: scale(1.1);
}
#child_img_3 {
  opacity: 0;
  width: 350px;
  height: 450px;
  animation: fadeIn 2s linear;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  position: absolute;
  left: 47%;
  top: 5%;
  z-index: 2;
  transform: rotate(-45deg);
}
#child_img_3:hover {
  transform: scale(1.1);
}
#child_img_4 {
  opacity: 0;
  animation: fadeIn2 2s linear;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
  position: absolute;
  left: 63%;
  z-index: 3;
}

#child_img_4:hover {
  transform: scale(1.1);
}

@keyframes fadeIn {
  from {
    transform: translateY(70px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  from {
    transform: translateY(-70px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

/* 이미지 반응형  */

@media (min-width: 1450px) {
  header {
    height: 550px;
  }
  header img {
    width: 400px;
  }
  #child_img_1 {
    opacity: 0;
    width: 550px;
    height: 450px;
    animation: fadeIn 2s linear;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 4;
  }
  #child_img_1:hover {
    transform: scale(1.1);
  }
  #child_img_2 {
    opacity: 0;
    animation: fadeIn2 2s linear;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    position: absolute;
    left: 450px;
    top: -31px;
    z-index: 1;
  }
  #child_img_2:hover {
    transform: scale(1.1);
  }
  #child_img_3 {
    opacity: 0;
    width: 450px;
    height: 550px;
    animation: fadeIn 2s linear;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    position: absolute;
    left: 700px;
    top: 62px;
    z-index: 2;
    transform: rotate(-45deg);
  }
  #child_img_3:hover {
    transform: scale(1.1);
  }
  #child_img_4 {
    opacity: 0;
    animation: fadeIn2 2s linear;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    position: absolute;
    left: 980px;
    top: -2px;
    z-index: 3;
  }
  #child_img_4:hover {
    transform: scale(1.1);
  }
}
