header {
  width: 90%;
  height: 400px;
  margin: auto;
  display: flex;
  align-self: center;
  justify-content: center;
  position: relative;
}

header img {
  width: 300px;
}
#child_img_1 {
  opacity: 0;
  width: 450px;
  height: 350px;
  animation: fadeIn 2s linear;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  position: absolute;
  left: 120px;
  top: 60px;
  z-index: 4;
}

#child_img_2 {
  opacity: 0;
  animation: fadeIn2 2s linear;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  position: absolute;
  left: 410px;
  top: -27px;
  z-index: 1;
}

#child_img_3 {
  opacity: 0;
  width: 350px;
  height: 450px;
  animation: fadeIn 2s linear;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  position: absolute;
  left: 600px;
  top: 11px;
  z-index: 2;
}

#child_img_4 {
  opacity: 0;
  /* animation : 이름 진행시간 가속도 지연시간 반복횟수 연결방향; */
  animation: fadeIn2 2s linear 3.5s 1, rotate 1s linear 5.5s infinite;
  animation-fill-mode: forwards;
  position: absolute;
  left: 830px;
  top: -5px;
  z-index: 3;
}

@keyframes fadeIn {
  from {
    transform: translateY(70px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  from {
    transform: translateY(-70px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* 이미지 반응형  */

@media (min-width: 1450px) {
  header {
    height: 550px;
  }
  header img {
    width: 400px;
  }

  #child_img_1 {
    opacity: 0;
    width: 550px;
    height: 450px;
    animation: fadeIn 2s linear;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 4;
  }

  #child_img_1:hover {
    transform: scale(1.1);
  }

  #child_img_2 {
    opacity: 0;
    animation: fadeIn2 2s linear;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    position: absolute;
    left: 450px;
    top: -31px;
    z-index: 1;
  }

  #child_img_2:hover {
    transform: scale(1.1);
  }

  #child_img_3 {
    opacity: 0;
    width: 450px;
    height: 550px;
    animation: fadeIn 2s linear;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    position: absolute;
    left: 700px;
    top: 62px;
    z-index: 2;
    transform: rotate(-45deg);
  }

  #child_img_3:hover {
    transform: scale(1.1);
  }

  #child_img_4 {
    opacity: 0;
    animation: fadeIn2 2s linear 3.5s 1, rotate 1s linear 5.5s infinite;
    animation-fill-mode: forwards;
    position: absolute;
    left: 980px;
    top: -2px;
    z-index: 3;
  }

  #child_img_4:hover {
    transform: scale(1.1);
  }
}
