/* .mypage-nav {
  width: 80vw;
  margin: auto;
} */

#mainPageBtn {
  background-color: black;
  color: white;
  border: 0;
  cursor: pointer;
}
#mainPageBtn:hover {
  background-color: #0d99ff;
}

.mypage-text {
  width: 80vw;

  margin-top: 4%;
  margin-bottom: 3%;
  margin-left: 9%;
}

.mypage-list {
  overflow: scroll;
}

/* .form-write-comment {
  display: none;
} */
